
        // await - 비동기 호출인데 동기화된 코드처럼 사용할때
        // await가 사용되면 async()
        // async -> promise
        // promise: then, catch
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/lteLayout2.html}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div layout:fragment="content">
    <h1>Read</h1>
    <ul class="postsDiv">

    </ul>

    <form method="post" id="write">
        <input type="text" name="wTitle">
        <input type="text" name="wAuthor">
        <input type="submit">
    </form>

    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input type="text" name="title">
              <input type="text" name="author">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger btnDelete">DELETE</button>
              <button type="button" class="btn btn-primary btnModify">MODIFY</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</div>

    <script layout:fragment="script">

    const potstDiv = document.querySelector(".postsDiv")
    const path = "http://192.168.0.35:9090/posts"
    const modalDiv = $(".modal")

    potstDiv.addEventListener("click", e => {
        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        console.log(target)

        const pid = target.getAttribute("data-id")

        console.log(pid)

        getPostOne(pid).then(post => {
            console.log(post)
            const {id, title, author} = post
            // modal의 내용물을 변경
            document.querySelector('.modal-title').innerHTML = id
            document.querySelector('input[name="title"]').value = title
            document.querySelector('input[name="author"]').value = author
            modalDiv.modal('show')
        })

    }, false)

    document.querySelector(".btnDelete").addEventListener("click", e => {

        const id = document.querySelector('.modal-title').innerHTML

        deletePostOne(id).then(result => {
            console.log(result)
            modalDiv.modal('hide')
            getDataDefault()
        })

    }, false)

    document.getElementById("write").addEventListener("submit", function(event) {
    event.preventDefault(); // 폼 제출 기본 동작 방지

    // 폼 필드 값 가져오기
    let title = document.getElementsByName("wTitle")[0].value;
    let author = document.getElementsByName("wAuthor")[0].value;

    // JSON 데이터 생성
    let data = {
        title: title,
        author: author
    }

    writePostOne(data).then(() => {
        getDataDefault();
    });
    });

    document.querySelector(".btnModify").addEventListener("click", e => {

    const id = document.querySelector('.modal-title').innerHTML
    const title = document.getElementsByName("title")[0].value;
    const author = document.getElementsByName("author")[0].value;

    const data = {
        id: id,
        title: title,
        author: author
    }

    putOne(data).then(result => {
        modalDiv.modal('hide')
        getDataDefault()
    })

    }, false)


    const getPosts = async() => {
        const res = await axios.get(path)
        return res.data
    }
    const getPostOne = async (id) => {
        const res = await axios.get(`${path}/${id}`)
        return res.data
    }
    const deletePostOne = async(id) => {
        const res = await axios.delete(`${path}/${id}`)
        return res.data
    }
    const putOne = async(obj) => {
        const res = await axios.put(`${path}/${obj.id}`, obj)
        return res.data
    }
    const writePostOne = async(obj) => {
        const res = await axios.post(path, obj)
        return res.data
    }



    function getDataDefault() {
        getPosts().then(arr => {

            let str = ""
            console.log(arr)
            for(let i = 0; i < arr.length; i++){
                const {id, title, author} = arr[i]
                str += `<li data-id=${id}>${title}</li>`
            }
            console.log(str)
            potstDiv.innerHTML = str

        })
    }
    getDataDefault();

    </script>
</body>
</html>